@import url('https://fonts.googleapis.com/css2?family=Explora&family=Lora:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Serif:ital,wght@0,100;0,200;1,100;1,200;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins';
    border: none;
    list-style: none;
}

:root {
    --header-black: #394149;
    --header-white: white;
    --logo-color: #063255;
    --hamburger-color: goldenrod;
    --soft-color: #FFF;
    --bg-buttob: #F58A07;
    --pg2-header-col: #1D3444;
    --color_1: #5B5B5B;
    --color_2: #0D1317;
    --background: #EDF7FF;
    --background1: #A8BCCC;
    --black-color: #0D1317;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: var(--header-white);
    width: 100%;
    z-index: 999;
    height: 80px;
    padding: 15px 160px 0;
    box-shadow: 0 0 .3125rem rgba(0, 0, 0, .2);
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h3 {
    color: var(--logo-color);
    font-size: 32px;
    font-weight: bold;
}

.logo h3::before {
    content: ' \007B';
}

#check,
.checkbtn {
    display: none;
    color: var(--header-black);
    font-size: 24px;
}

.nav-bar ul {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.nav-bar ul li a {
    padding: 7px 15px;
    border-radius: 4px;
    color: var(--header-black);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.my-home,
.nav-bar ul li a:hover {
    background: hsla(240, 100%, 0%, .1);
}

ul li.clone a {
    padding: 9px 18px;
    background: hsla(33, 94%, 49%, 0.1);
    border-radius: 32px;
    color: var(--bg-buttob);
    font-size: 16px;
    font-weight: 700;
}

ul .clone a:active {
    opacity: .5;
}

@media screen and (max-width: 700px) {
    * {
        border: solid blue;
    }

    .logo {
        padding-left: 50px;
        font-size: 25px;
    }

    ul {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {

    .nav-bar,
    .header,
    .section-1 {
        width: 100%;
    }

    .nav-bar ul {
        position: fixed;
        top: 5rem;
        right: 0;
        background: hsla(207, 87%, 18%, .9);
        width: 75%;
        right: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all .5s;
        z-index: 99;
        padding: 1.5em 0 1em 0;
    }

    /* .padding-effect, .section-1 {
      padding: 0;
    } */
    .header {
        padding: 1.25rem 2.5rem;
    }

    .checkbtn {
        display: block;
    }

    .checkbtn:active {
        color: goldenrod;
    }

    .nav-bar ul li a {
        color: whitesmoke;
        font-weight: 400px;
    }

    .my-home,
    .nav-bar ul li a:hover {
        background: goldenrod;
    }

    .nav-bar ul li a:active {
        opacity: .5;
    }

    #check:checked~ul {
        right: 0;
    }

    section {
        padding: 0;
    }

    /* section one */
    .section-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.3em;
        align-items: center;
    }

    .section-list>h2 {
        text-align: center;
    }

    .section-list>p {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column-reverse;
        gap: 1.4em;
        align-items: center;

    }

    .map-content {
        padding: 10px 25px;
        width: 100%;
    }

    .container-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        /* justify-content: center; */
        gap: 1em;
    }

   

    .section-7-list {
        margin: 0 auto;
    }

    .term {
        display: flex;
        flex-direction: column;
    }





}


.section-container {
    display: flex;
    justify-content: center;
    gap: 3em;
    /* border: solid blue; */
    width: 90%;
    margin-bottom: 5em;
    margin-top: 5em;
}

.section-list>h2 {
    /* border: solid blue; */
    font-weight: 600;
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-bottom: 5em;

}

.input-list input {
    display: block;
    border-radius: 4.5em;
    background-color: #D2DAED2B;
    border: none;
    width: 100%;
    padding: 1.2em 2em;
    margin-top: 1.3em;
}

textarea {
    background-color: #D2DAED2B;
    border: none;
    margin-top: 1.3em;
    padding: 10px 2em;
    border-radius: 2em;
    width: 100%;
}

button {
    background-color: #F58A07;
    width: 30%;
    border-radius: 4.5em;
    height: 35px;
    margin-top: 1.3em;
    border: none;
    cursor: pointer;
    transform: opacity 0.5s;
}

button:hover {
    color: brown;
}

button:active {
    opacity: 0.5s;
    color: red;
}

.map-content img {
    width: 100%;
    height: 60vh;
    padding-top: 1.1em;
}

/* footer section */

footer {
    display: flex;
    background-color: #063255;
    flex-wrap: wrap;
}

.container-content {
    display: flex;
    gap: 50px;
    padding-left: 15px;
}

.sub-container {
    /* border: solid red; */
    color: white;
    width: 16em;
    margin-top: 45px;
}

.sub-container h2::before {
    content: ' \007B';
}

.list {
    display: flex;
    gap: 15px;

    padding-top: 20px;
}

.sub-title {
    font-weight: 400;
    font-size: 1.5rem;
}

.sub-container h3 {
    font-size: 1.5rem;
}

.sub-container p {
    padding-top: 5px;
}

.sub-container input {
    display: block;
    border-radius: 4.5em;
    width: 15em;
    height: 35px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sub-container>button {
    color: white;
    background-color: #F58A07;

    padding: 5px 20px 0 15px;
    text-align: center;
    border-radius: 4.5em;
    cursor: pointer;
    height: 35px;
    transform: opacity 0.5s;
}

.sub-container button:hover {
    background-color: #A8BCCC;
}

.sub-container button:active {
    opacity: 0.3s;
    color: aqua;
}

.term {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
    gap: 90px;
    width: 100%;
    padding: 0 50px;
    color: white;


}